<footer class="bg-secondary">
  <div class="conatiner">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-light font-weight-light p-3">Suivez moi sur mes reseaux sociaux!</h3>
      <div class="py-2">
        <a href="#"><i class="fab fa-facebook fa-2x text-primary mx-3"></i></a>
        <a href="#"><i class="fab fa-instagram text-danger fa-2x mx-3"></i></a>
        <p class="text-light py-4">&copy;Copyright 2021 - Charles Cantin</p>
        </div>
      </div>
    </div>
  </div>
</footer>