---
title: Charles Cantin - Contact
header: Contact
layout: 'base.njk'
---

<br>
<h1>{{ header }}</h1>
<br>
<!--FORM/SECTION CONTENT START-->
  <section class="section-content">
      <h2>Besoin d'un rendez-vous?<br>Contacter Moi!</h2>
      <br>
  <div class="form-container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img src="../assets/services_header.jpg" class="img-fluid" alt="">
    <form
      action="https://formspree.io/f/mrgrvlzy"
      method="POST"
    >
    <div class="form-group">
    <label>
        Votre Nom
        <input class="form-control" type="name" placeholder="Nom">
      </label> 
    </div>
    <div class="form-group">
      <label>
        Votre E-Mail:
        <input class="form-control" type="email" placeholder="E-mail" name="_replyto">
      </label>
    </div>
    <div class="form-group full">
      <label>
        Votre Message:
        <textarea class="form-control" name="message" placeholder="Message"></textarea>
      </label>
      
    <div class="submit-group">
      <button type="submit">Envoyer</button>
    </form>
            </div>
          </div>
        </section>