---
title: Charles Cantin - Tarifs & Prestations
header: Tarifs & Prestations
layout: 'base.njk'
---

<br>
<h1>{{ header }}</h1>
<br>

<!--FIRST CONTAINER-->
<div class="container_theme">
  <div class="cont_desc">
    <img src="../assets/gallery/services/man_profile.png" class="theme_img">
    <h2 class="#media_header">Juste Moi</h2>
    <br>
    <p class="#media_header">Séance pour une personnne, en extérieur ou en studio.</p>
    <br>
    <p class="#media_header">Prix : <strong>130 euros</strong></p>
  </div>
  <img src="../assets/gallery/services/selfportrait.png" class="cont_photo">
</div>

<!--SECOND CONTAINER-->
<div class="container_theme">
  <div class="cont_desc">
    <img src="../assets/gallery/services/couple.png" class="theme_img_couple">
    <h2 class="#media_header">Pour deux</h2>
    <p class="#media_header">Pour deux personnes, en extérieur ou en studio</p>
    <br>
    <p class="#media_header">Prix : <strong>195 euros</strong></p>
  </div>
  <img src="../assets/gallery/services/couple_theme.jpg" class="cont_photo">
</div>

<!--THIRD CONTAINER-->
<div class="container_theme">
  <div class="cont_desc">
    <img src="../assets/gallery/services/familly.png" class="theme_img_couple">
    <h2>Famille</h2>
    <br>
    <p>Pour la famille ou les amis jusqu’à 4 personnes, en extérieur ou en studio 30 euros en supplément par personne au-delà de 4 (hormis enfant jusqu’à 2 ans)</p>
    <br>
    <p>Prix : <strong>220 euros</strong></p>
  </div>
  <img src="../assets/gallery/services/familly2.jpg" class="cont_photo">
</div>

<!--FOURTH CONTAINER-->
<div class="container_theme">
  <div class="cont_desc">
    <img src="../assets/gallery/services/child2.jpg" class="theme_img">
    <h2>Il était une fois</h2>
    <br>
    <p>Photo de grossesse (À votre domicile, en extérieur ou en studio)</p>
    <br>
    <p>Prix : <strong>160 euros</strong></p>
  </div>
  <img src="../assets/gallery/services/pregnancy2.jpg" class="cont_photo">
</div>

<!--FITH CONTAINER-->
<div class="container_theme">
  <div class="cont_desc">
    <img src="../assets/gallery/services/pregnant.png" class="theme_img">
    <h2>Mon bébé</h2>
    <br>
    <p>Photo d’enfant jusqu’à 3 ans (photo à domicile)</p>
    <br>
    <p>Prix : <strong>100 euros</strong></p>
  </div>
  <img src="../assets/gallery/services/baby.jpg" class="cont_photo">
</div>

<!--SIXTH CONTAINER-->
<div class="container_theme">
  <div class="cont_desc">
    <img src="../assets/gallery/services/wedding.png" class="theme_img">
    <h2>J’immortalise l’événement</h2>
    <br>
    <p>Prestation de mariage ou baptême sur devis</p>
    <br>
    <p>Prix : <strong>sur mesure</strong></p>
  </div>
  <img src="../assets/gallery/services/wedding2.jpg" class="cont_photo">
</div>